<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2S</title>
<style>
    @import url('https://fonts.googleapis.com/css?family=Comfortaa');


* {
  box-sizing: border-box;
}

body {
  background-color: black;
}
.container {
  z-index: 1;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: aliceblue;
  padding: 10px;
  min-width: 300px;
  font-family: Montaga;
font-style: normal;
font-weight: normal;
font-size: 34.2696px;
padding:1rem;
}
img{
    margin-top: 5%;
    margin-left: 33%;
    margin-bottom: 4rem;
    margin-right: auto;
    padding: 2rem;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    
}

}
</style>
</head>
<body>
<div class="back">
    <img src="/error.png" alt="">
</div>
    <div class="container">
        <p>UNAUTHORISED ACCESS</p>
      </div>
</body>
</html>