<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/foot.css">
     <script src="https://kit.fontawesome.com/8f045748b8.js" crossorigin="anonymous"></script>

    <title>Hello, world!</title>
  </head>
  <body>
  <footer class="footer">
    <div class="Box">
        <div class="row">             
            
            <div class="col-12 col-sm-6 footer-joinus">
                <span class="footer-joinus-text">Have something to post or suggest?</span>
                <a class="footer-joinus_button" href="">Mail us</a>
            </div>
            <div class="col-12 col-sm-6 align-self-center ">
                <div class="text-center"> 
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-instagram fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fas fa-phone"></i></a>
                </div>
            </div>
       </div>
       <div class="row justify-content-center" style="margin-top: 10px;">             
            <div class="col-auto">
                <p>© Copyright 2020 Back 2 School</p>
            </div>
       </div>
    </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>



