<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2S</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap" rel="stylesheet">

    <style>
        /* CSS reset */
        body {
            margin: 0px;
            padding: 0px;
            background: url('bg2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            font-family: 'Baloo Bhaina 2', cursive;

        }
        /* img{
          opacity: 0.5;
        } */

        .left {
            /* border: 2px solid red; */
            display: inline-block;
            position: absolute;
            left: 60px;
            top: 20px;
        }

        .left img {
            width: 99px;
            /* filter: invert(100%); */
        }
        .right img {
            width: 298px;
            height: 57px;
            /* filter: invert(100%); */
        }

        .left div {
            text-align: center;
            line-height: 6px;
            font-size: 30px;
        }

        .mid {
            /* border: 2px solid yellow; */
            display: block;
            width: 53%;
            margin: 30px auto;
        }

        .right {
            position: absolute;
            right: 30px;
            top: 45px;
            display: inline-block;
            /* border: 2px solid greenyellow; */
        }

        .navbar {
            display: inline-block;
        }

        .navbar li {
            display: inline-block;
            font-size: 25px;
        }

        .navbar li a {
            color: white;
            text-decoration: none;
            padding: 30px 20px;
        }

        .navbar li a:hover,
        .navbar li a.active {
            color: rgb(212, 207, 207);
            text-decoration: underline;

        }

        .btn {
            margin: 0px 125px;
            background-color: black;
            color: white;
            padding: 0px 14px;
            border: 2px solid grey;
            border-radius: 25px;
            font-size: 20px;
            cursor: pointer;
            font-family: 'Baloo Bhaina 2', cursive;
            width: 50%;
        }
       

        .btn:hover {
            background-color: rgb(39, 37, 37);
        }

        .container1 {
            font-size: 30px;
            /* border: 2px solid green; */
            margin: 150px 60px;
            padding: 70px;
            width: 30%;
            border-radius: 15px;
            display: inline-block;
            position: absolute;
            left: 60px;
        }
        .container2 {
            height: 500px;
            width: 300px;
            font-size: 30px;
            /* border: 2px solid green; */
            margin: 70px 60px;
            padding: 70px;
            width: 30%;
            border-radius: 15px; 
            display: inline-block;
            position: absolute;
            right: 60px;
        }
        .formgrp input,.formgrp select{
            font-family: 'Baloo Bhaina 2', cursive;
            text-align: center;
            display: block;
            width: 388px;
            margin: 11px auto;
            padding: 0px;
            border: 2px solid black;
            font-size: 26px;
            border-radius: 10px;
        }
        .container h1{
            text-align: center;
        }
        .container button{
            display: block;
            width: 50%;
            margin: 30px auto;
        }
    </style>
</head>

<body>
    <header class="header">
        <!-- left box for logo -->
        <div class="left">
            <img src="B2S_Logo.png" alt="2BS"  >
            <!-- <div>BACK-2-SCHOOL</div> -->
        </div>
        <!-- mid for navbar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="#">Spell-Bee</a> </li>
                <li><a href="#">Math-Bee</a> </li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a> </li>
            </ul>
        </div>
        <!-- right for buttons -->
        <div class="right">
           <img src="graVITas20 Logo.png" alt="graVITas20">
        </div>
    </header>
    <div class="container1">
        
        <form action="/login" method="POST">
            <div class="formgrp">
                <label for="email"></label>
                <input type="email" name="username" placeholder="username" required>
            </div>
            <div class="formgrp">
                <label for="password"></label>
                <input type="password" name="password" placeholder="password" required>
            </div>
            <div class="formgrp">
                <!-- <input type="text" name="" placeholder="select" required> -->
                <select name="test" id="test" required>
                    <option value="null">SELECT TEST</option>
                    <option name="mathbee" value="mathbee">MATH-BEE</option>
                    <option name="spellbee" value="spellbee">SPELL-BEE</option>
                </select>
            </div>
            <button class="btn" type="submit" >Login</button>
        </form>
    </div>
    <div class="container2">
        <img src="B2S_Logo.png" alt="2BS" height="350px" width="350px">
        
    </div>
</body>
<script src="app.js" charset="utf-8"></script>
</html>