<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="navbar">
          <div class="laptop">
            <ul class="nav-links">       
                <li><a href="/">
                  <img src="B2S_Logo.png" class="b2s-logo"  /></a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a onclick="scroll_contact()" type="button">Contact Us</a> </li>
                <li>
                    <a href="/gravitas"><img src="graVITas20 Logo.png" class="gra-logo" /></a>
                </li>
            </ul>
          </div>
          <div class="mobile">
            <div class="mobile-nav">
              <div id="mobile-gra-logo">
                  <img src="graVITas20 Logo.png" class="gra-logo" />
                
              </div>
              <div class="burger" id="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
              </div>
           </div>
            <div class="menu hidden" id="menu">
              <ul class="menu-links" id="menu-links">
                <hr style="margin: -10px 0 0 0;">
                <li><a href="#">Spell-Bee</a> </li><hr>
                <li><a href="#">Math-Bee</a> </li><hr>
                <li><a href="#">About Us</a></li><hr>
                <li><a href="#">Contact Us</a> </li><hr></ul>
            </div>
          </div>
        </div>
      </nav>

 <div class="container">
    <div class="container3">
        <img src="B2S_Logo.png" alt="2BS" class="img2">
    </div>
    <div class="container1">
        <div class="login-box">
            <form action="/login" method="POST">
            <div class="textbox">
              <i class="fas fa-user"></i>
              <label for="email"></label>
              <input type="email" name="username" placeholder="Username" required>
            </div>
            <div class="textbox">
              <i class="fas fa-lock"></i>
              <label for="password"></label>
              <input type="password"name="password" placeholder="Password"required>
            </div>
            <div class="selectbox">
            <select name="test" id="test" required>
                <option>Select your test</option>
                <option value="mathbee">Math-Bee</option>
                <option value="spellbee">Spell-Bee</option>
            </select>
            </div>
            <input type="submit" class="button" value="Login">
            </form>
        </div>
        
    </div>
    <div class="container2">
        <img src="B2S_Logo.png" alt="2BS" class="img1">
    </div>
</div>


    <script>
        var burger = document.getElementById("burger");
var menu = document.getElementById("menu");
var mobileAdgLogo = document.getElementById("mobile-adg-logo");

burger.addEventListener("click", () => {
  $("#menu").slideToggle("medium");
  menu.classList.toggle("hidden");
 
  burger.classList.toggle('toggle');
});
    </script>
<script>var contact=document.getElementById("contact");
  function scroll_contact()
  {contact.scrollIntoView({behavior: "smooth"});
  }</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

<script src="app.js" charset="utf-8"></script>
</html>