<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2S</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <!-- left box for logo -->
        <div class="left">
            <img src="login.jpeg" alt="2BS"  >
            <!-- <div>BACK-2-SCHOOL</div> -->
        </div>
        <!-- mid for navbar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="#" class="active">Spell-Bee</a> </li>
                <li><a href="#">Math-Bee</a> </li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a> </li>
            </ul>
        </div>
        <!-- right for buttons -->
        <div class="right">
           <img src="graVITas20 Logo.png" alt="graVITas20">
        </div>
    </header>
    <div class="container1">
        
        <form action="/home" method="POST">
            <div class="formgrp">
                <input type="text" name="" placeholder="username" required>
            </div>
            <div class="formgrp">
                <input type="text" name="" placeholder="password" required>
            </div>
            <button class="btn" href="/mathbee" >Login</button>
        </form>
    </div>
    <div class="container2">
        <img src="B2S_Logo.png" alt="2BS" height="350px" width="350px">
        
    </div>
</body>

</html>