<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>Back To School</title>
    <link rel="stylesheet" type="text/css" href="/css/gravitas.css">
  </head>
  <body>
  
    <nav>
      <div class="navbar">
        <div class="laptop">
          <ul class="nav-links">
              <li>
                  <img src="B2S_Logo.png" class="b2s-logo" />
              </li>
              &emsp;&emsp;&emsp;&emsp;
            <li><a href="#">Login</a> </li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a> </li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
              <li>
                  <img src="graVITas20 Logo.png" class="gra-logo" />
              </li>
          </ul>
        </div>
        <div class="mobile">
          <div class="mobile-nav">
            <div id="mobile-gra-logo">
                <img src="graVITas20 Logo.png" class="gra-logo" />
              
            </div>
            <div class="burger" id="burger">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
         </div>
          <div class="menu hidden" id="menu">
            <ul class="menu-links" id="menu-links">
              <hr style="margin: -10px 0 0 0;">
              <li><a href="/login">Login</a> </li><hr>
              <li><a href="/about">About Us</a></li><hr>
              <li><a onclick="scroll_contact()" type="button">Contact Us</a> </li><hr>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div>
      <%- include('carousel'); -%>
     </div>
 
<div class="container">
	<h1 id="head"><img class="img-fluid" src="B2S_Logo.png" alt="" style="width: 10rem;"></h1>
	<p id="brief" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<br>
<br>
<div class="container">
 <div class="row justify-content-between">
   <div class="col-md-6 col-12 mb-md-0 mb-4 ">
     <div class="yes">
       <h3 class="pass">SPELL BEE</h3>
        <h4 class="seven">CLASS 3-12</h4> 
        <form action="/index"  method="POST">   
      <button type="submit" id="btn_spellbee" class="btn btn-outline-dark but">Click Here!</button>
       </form> 
  </div>
   </div>
      <div class="col-md-6 col-12">
     <div class="yes">
       <h3 class="pass">MATH BEE</h3>
      <h4 class="seven">CLASS 7-12</h4>
      <form action="/index" method="POST">
      <button type="submit" id="btn_mathbee"  class="btn btn-outline-dark but">Click Here!</button>
      </form>

    </div>
     </div>
   </div>
 </div> 

</div>
<div id="contact">
  <%- include('footer'); -%>
</div>

<script>
  var burger = document.getElementById("burger");
var menu = document.getElementById("menu");

burger.addEventListener("click", () => {
$("#menu").slideToggle("medium");
menu.classList.toggle("hidden");

burger.classList.toggle('toggle');
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>var contact=document.getElementById("contact");
  function scroll_contact()
  {contact.scrollIntoView({behavior: "smooth"});
  }</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
  </body>
</html>
