<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navbar">
          <div class="laptop">
            <ul class="nav-links">
                <li>
                  <a href="/">
                    <img src="B2S_Logo.png" class="b2s-logo" />
                  </a>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a onclick="scroll_contact()" type="button">Contact Us</a> </li>
                <li>
                  <a href="/gravitas">
                    <img src="graVITas20 Logo.png" class="gra-logo" />
                  </a>
                </li>
            </ul>
          </div>
          <div class="mobile">
            <div class="mobile-nav">
              <div id="mobile-gra-logo">
                <a href="/gravitas">
                  <img src="graVITas20 Logo.png" class="gra-logo" />
                </a>
              </div>
              <div class="burger" id="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
              </div>
           </div>
            <div class="menu hidden" id="menu">
              <ul class="menu-links" id="menu-links">
                <hr style="margin: -10px 0 0 0;">
                <li><a href="/spellbee">Spell-Bee</a> </li><hr>
                <li><a href="/mathbee">Math-Bee</a> </li><hr>
                <li><a href="/about">About Us</a></li><hr>
                <li><a onclick="scroll_contact()" type="button">Contact Us</a> </li><hr></ul>
            </div>
          </div>
        </div>
      </nav>

</body>
</html>