.jumbotron{
	background-color: black;
	color: white;
	border-radius: 45px;
}
.yes{
	background:url("https://wallpapercave.com/wp/wp1966328.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: no-repeat;

	padding-bottom: 5rem;
}
@media screen(max-width: 900px) {
.lead{
	font-size: 1rem;
}
}